

.image-main{    
    background-repeat: no-repeat;
    width: 1920px;
    height: 900px;
}

.image-main2{    
    background-repeat: no-repeat;
    width: 1920px;
    height: 900px;
}

.image-main3{    
    background-repeat: no-repeat;
    width: 1920px;
    height: 900px;
}


.bnt1{
   font-size: 22px;
   border-radius: 24px;
   padding: 4px 24px;
   background: linear-gradient(to right, #FF00E5, #721BC9);
   border-color: transparent;
   margin-top: 50px;
   cursor: pointer;
   font-weight: bold;
   margin-left: 50px;
}

.bnt2{
    font-size: 22px;
    border-radius: 24px;
    padding: 4px 24px;
    border-color: transparent;
    margin-top: 50px;
    background-color: black;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
    
 }

.colorido{
    background: linear-gradient(to right, #DB00FF, #0066FF);
  color: transparent; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  display: inline-block; 
  padding: 5px 10px;
}

.embreve{
    background: #fff;
  color: transparent; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  display: inline-block; 
  padding: 5px 10px;
}

.container{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.intro{
    font-weight: bold;
    font-size: 25px;
    color: blueviolet;
}

.apresentacao{
    margin-top: 450px;
    margin-left: 410px;
}

.img-home{
    margin-right: 300px;
    width: 500px;
}

.container2{
    display: flex;
   
   justify-content: space-around; 
}

.apresentacao2{
    color: aliceblue;
    margin-left: 700px;
    margin-top: 200px;
    font-size: 20px;

}

.linha1{
    margin-left: 10px; 
 }

.linha2{
    margin-left: 10px; 
 }

.linha3{
    margin-left: 28px; 
 }

.linha4{
   margin-left: 110px; 
}

.container3{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.titulo{
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
    margin-top: 210px;
    margin-left: 430px;
}

.descricao{
    color: aliceblue;
    margin-top: 30px;
    margin-left: 480px;
    font-size: 25px;
}

.container4{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.textoobjetivo{
    color: aliceblue;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 480px;
}

.tituloobjetivo{
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
    margin-top: 210px;
    margin-left: 530px;
}

.container5{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.textoproposta{
    color: aliceblue;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 1180px;
}

.tituloproposta{
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 1300px;
}

.container6{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.titulowireframes{
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 800px;
}

.bntregistro{
    font-size: 27px;
    border-radius: 24px;
    padding: 4px 24px;
    background-color: #B900FF;
    border-color: aliceblue;
    margin-top: 1050px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    margin-left: 837px;
}

.container7{
    display: flex;
    align-items: center;
   justify-content: space-around; 
}

.textorodape{
    color: aliceblue;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 600px;
}

.titulorodape{
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 700px
}

.linha5{
    margin-left: 110px;
}
